footer.page-footer
  .footer-copyright
    .container-fluid
      | © 2015 Copyright:
      a(href='http://www.MDBootstrap.com')  MDBootstrap.com
script(type='text/javascript', src='libs/lib.js')
script(type='text/javascript', src='js/app.js')