nav.navbar.navbar-toggleable-md.navbar-dark
  .container
    a.navbar-brand(href='#')
      strong Admin zone
    #navbarNav1
      ul.navbar-nav
        li.nav-item
          a.nav-link(href="#list") List
        li.nav-item
          a.nav-link(href="#new") Create new