nav.navbar.navbar-toggleable-md.navbar-dark
  .container
    button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarNav1', aria-controls='navbarNav1', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
    a.navbar-brand(href='#')
      strong Admin zone
    #navbarNav1.collapse.navbar-collapse
      ul.navbar-nav.mr-auto
        li.nav-item.active
          a.nav-link List
        li.nav-item
          a.nav-link Create new
      //form.form-inline.waves-effect.waves-light
        input.form-control(type='text', placeholder='Search')